<div class="task-actions-container">
	<div class="timerTasksTitle">Todays Tasks</div>
	<div class="loading" *ngIf="timerTasks.length == 0 && !loaded">
		Loading...
	</div>
	<div class="loading" *ngIf="timerTasks.length == 0 && loaded">
		No Tasks To Display!
	</div>
	<div class="timerTasksView">
		<cdk-virtual-scroll-viewport
			appendOnly
			itemSize="50"
			class="example-viewport"
		>
			<app-timer-task
				*cdkVirtualFor="let t of timerTasks"
				[timerTask]="t"
				(click)="onTaskClick(t)"
			></app-timer-task>
		</cdk-virtual-scroll-viewport>
	</div>
</div>
