<div class="timer-container">
	<fa-icon
		[icon]="faRedo"
		size="2x"
		class="refreshIcon"
		matTooltip="Restart Main Timer"
		(click)="resetTimer()"
	></fa-icon>
	<div>
		{{ isPomodoro ? "Remaining Session Time" : "Current Session Time" }}
	</div>
	<cd-timer class="main-timer" format="intelli" #maintimer></cd-timer>
	<cd-timer
		class="remaining-time-timer remaining-time-text"
		format="intelli"
		#remainingtimer
	></cd-timer>
	<div class="remaining-time-text">
		Remaining Task Time{{
			currentTask != null
				? " For Task : " + currentTask.taskDescription
				: ""
		}}
	</div>

	<button (click)="logTime()">Log Time</button>
	<button (click)="checkCurrentTask()">Check Current Task</button>
	<button
		class="timerToggleButton timerControllerButton"
		(click)="toggleTimer()"
	>
		{{ timerRunning ? "Stop" : "Start" }} Timer
	</button>
	<button
		(click)="toggleTimerMode()"
		class="timerModeToggle timerControllerButton"
		matTooltip="Toggle between Pomodoro mode and Normal Timer mode"
	>
		{{ isPomodoro ? "Pomodoro" : "Normal Timer" }}
	</button>
</div>
