.task-container {
	display: flex;
	align-items: start;
	margin-top: 1vh;
	font-size: 15px;
	width: 100%;
	background-color: rgba(196, 196, 196, 0.664);
	padding: 5px;
	border-radius: 20px;
}

.task-container:active {
	background-color: #c4c4c4;
}

.task-length {
	position: absolute;
	padding-left: 10px;
	border-left: 2px solid black;
	left: 60%;
}

.task-description {
	padding-left: 5px;
}

fa-icon {
	color: white;
	filter: drop-shadow(0.1rem 0.1rem 0.02rem rgba(0, 0, 0, 0.5));
	position: absolute;
	right: 50px;
}
