<div [style.--color]="color" class="app-wrapper">
	<a routerLink="/login" class="login-link">Login</a>
	<fa-icon
		[icon]="faEyeDropper"
		size="2x"
		matTooltip="Change Color Theme!"
		[(colorPicker)]="color"
		[cpToggle]="true"
		(colorPickerChange)="setLocalColor()"
		#colorpicker
	></fa-icon>
	<div class="top-wrapper">
		<app-timer-controller
			[timerTasks]="timerTasks"
			[currentTask]="currentTask"
		>
		</app-timer-controller>
	</div>
	<div class="bottom-wrapper">
		<app-timer-tasks-view
			[timerTasks]="timerTasks"
			[loaded]="tasksLoaded"
			(taskClick)="onTaskChange($event.timerTask, $event.taskID)"
		></app-timer-tasks-view>
		<app-timer-task-add></app-timer-task-add>
	</div>
</div>
